[submodule "mediacapture-main"]
	path = mediacapture-main
	url = git@github.com:w3c/mediacapture-main.git
[submodule "mediacapture-depth"]
	path = mediacapture-depth
	url = git@github.com:w3c/mediacapture-depth.git
[submodule "mediacapture-image"]
	path = mediacapture-image
	url = git@github.com:w3c/mediacapture-image.git
	branch = gh-pages
[submodule "mediacapture-screen-share"]
	path = mediacapture-screen-share
	url = git@github.com:w3c/mediacapture-screen-share.git
[submodule "mediacapture-output"]
	path = mediacapture-output
	url = git@github.com:w3c/mediacapture-output.git
[submodule "mediacapture-record"]
	path = mediacapture-record
	url = git@github.com:w3c/mediacapture-record.git
[submodule "mediacapture-scenarios"]
	path = mediacapture-scenarios
	url = git@github.com:w3c/mediacapture-scenarios.git
[submodule "webrtc-pc"]
	path = webrtc-pc
	url = git@github.com:w3c/webrtc-pc.git
[submodule "webrtc-stats"]
	path = webrtc-stats
	url = git@github.com:w3c/webrtc-stats.git
[submodule "webrtc-charter"]
	path = webrtc-charter
	url = git@github.com:w3c/webrtc-charter.git
	branch = gh-pages
[submodule "rtcweb-jsep"]
	path = rtcweb-jsep
	url = git@github.com:rtcweb-wg/jsep
[submodule "rtcweb-security-arch"]
	path = rtcweb-security-arch
	url = git@github.com:rtcweb-wg/security-arch
[submodule "rtcweb-security"]
	path = rtcweb-security
	url = git@github.com:rtcweb-wg/security
[submodule "webrtc-depth"]
	branch = gh-pages
[submodule "rtcweb-overview"]
	path = rtcweb-overview
	url = git@github.com:rtcweb-wg/rtcweb-overview.git
[submodule "rtcweb-transport"]
	path = rtcweb-transport
	url = git@github.com:rtcweb-wg/rtcweb-transport
[submodule "rtcweb-msid"]
	path = rtcweb-msid
	url = git@github.com:alvestrand/rtcweb-msid
[submodule "rtcweb-gateways"]
	path = rtcweb-gateways
	url = git@github.com:/rtcweb-wg/gateways
[submodule "gcc-rmcat"]
	path = gcc-rmcat
	url = git@github.com:ldecicco/gcc-rmcat
[submodule "mediacapture-worker"]
	path = mediacapture-worker
	url = git@github.com:w3c/mediacapture-worker.git
	branch = gh-pages
[submodule "mediacapture-fromelement"]
	path = mediacapture-fromelement
	url = git@github.com:w3c/mediacapture-fromelement.git
	branch = gh-pages
[submodule "permissions"]
	path = permissions
	url = git@github.com:w3c/permissions.git
	branch = gh-pages
[submodule "webrtc-ice"]
	path = webrtc-ice
	url = git@github.com:w3c/webrtc-ice.git
	branch = master
[submodule "webrtc-dscp-exp"]
	path = webrtc-dscp-exp
	url = git@github.com:w3c/webrtc-dscp-exp.git

